<% include ../../partials/header %>
<!-- Make Category Title's first letter uppercase -->
<% var categoryTitle = blog.docs[0].category.charAt(0).toUpperCase() + blog.docs[0].category.slice(1) %>
<h1><%= categoryTitle %></h1>

<div class="ui divided items">
    <% blog.docs.forEach(function(post) { %>
        <div class="item">
                <div class="image">
                  <img src="<%= post.image %>">
                </div>
                <div class="content">
                  <a href="/content/<%= post.id %>" class="header"><%= post.title %></a>
                  <div class="extra">
                    <span><%= moment(post.date).format('MMM DD, YYYY') %></span>
                  </div>
                  <div class="description">
                      <% var shortContent = post.content.substring(0, 100); %>
                    <p>
                        <%= shortContent %>... <a href="/content/<%= post.id %>" class="mini basic green ui button">Read more</a>
                    </p>
                  </div>
                </div>
              </div>
    <% }) %>
</div>

 <div class="ui hidden divider"></div>
    
    <!-- Thanks to Mikhail Evdokimov for his pagination logic. It saved me a lot of work. Check it out here. https://evdokimovm.github.io/javascript/nodejs/mongodb/pagination/expressjs/ejs/bootstrap/2017/08/20/create-pagination-with-nodejs-mongodb-express-and-ejs-step-by-step-from-scratch.html -->
    
    <% if(blog.pages > 1) { %>
        <div class="ui mini pagination menu">
          
          <!--First Button-->
          <% if(current == 1) { %>
              <a class="active item">First</a>
          <% } else { %>
              <a href="/content/category/<%= blog.docs[0].category %>/1" class="item">First</a>
          <% } %>
          
          <!--Rest of the buttons based on current page -->
          <% var i = (current > 4 ? current - 3 : 1) %>
          
          <% if(i !== 1){ %>
              <a href="/content/category/<%= blog.docs[0].category %>/<%= i-1 %>" class="item">...</a>
          <% } %>
          
          <% for(; i <= (current + 3) && i <= blog.pages; i++) { %> 
              <% if(i == current) { %>
                  <a class="active item"><%= i %></a>
              <% } else {%>
                  <a href="/content/category/<%= blog.docs[0].category %>/<%= i %>" class="item"><%= i %></a>
              <% } %>
              
              <% if (i == (current + 3) && i < blog.pages) { %>
                  <a href="/content/category/<%= blog.docs[0].category %>/<%= i+1 %>" class="item">...</a>
              <% } %>
          <% } %>
          
          <% if(current == blog.pages) { %>
              <a class="disabled item">Last</a>
          <% } else { %>
              <a href="/content/category/<%= blog.docs[0].category %>/<%= blog.pages - 1 %>" class="item">Last</a>
          <% } %>
         </div>

          
    <% } %>    



<% include ../../partials/footer %>