<% include partials/header %>

            
            <h1 class="ui header">Edit this user: <%= user.name %></h1>
            
            <form class="ui form" action="/admin/user/<%= user.id %>?_method=PUT" method="POST">
                <div class="field">
                    <input name="name" value="<%= user.name %>"></input>
                </div>
                <div class="field">
                    <input name="username" value="<%= user.username %>"></input>
                </div>
                <div class="field">
                    <input name="email" value=" <%= user.email %>"></input>
                </div>
                <div class="inline fields">
                    <label for="permission">Select the permission level of new user:</label>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input name="permission"  type="radio" value="admin">
                        <label>Admin</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input name="permission"  type="radio" value="write" checked>
                        <label>Write</label>
                      </div>
                    </div>
                </div>
                
                <button class="ui green button" type="submit">Submit</button>
            </form>

        

<% include partials/footer %>